.env
.eslintcache
.grunt
.lock-wscript
.node_repl_history
.npm
.nyc_output
.phpunit.result.cache
.yarn-integrity
*.log
*.pid
*.pid.lock
*.seed
*.sqlite*
*.tgz
/.vagrant
/vendor/
app/storage/
bootstrap/compiled.php
bower_components
build/Release
coverage
Homestead.json
Homestead.yaml
jspm_packages/
lib-cov
logs
node_modules/
npm-debug.log
npm-debug.log*
pids
public_html/hot
public_html/storage
public/hot
public/storage
storage/*.key
typings/
yarn-debug.log*
yarn-error.log